# The serial-logger can INSERT the serials and INSERT/UPDATE the SLAs into mutliple DBs. We found that useful to have
# real SLA values also on our OTE system. Onle 1 database is mandatory, the others are optional. The mandatory DB must
# be named 'prod'. This 'prod' DB is also used to load the configuration (list of nameservers) from the database.
# The configuration is only loaded on serial-logger startup. Hence, a configuration change requires a restart of the
# serial-logger.

databases:
  prod:
    database: "dbname"
    port: 5432
    host: "hostname"
    user: "serial_logger"
    password: "pass"

#  test:
#    database: "dbname"
#    port: 5432
#    host: "hostname"
#    user: "serial_logger"
#    password: "pass"
#
#  dev:
#    database: "dbname"
#    port: 5432
#    host: "hostname"
#    user: "serial_logger"
#    password: "pass"
